.btn {
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  border: 2px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.primary {
  background-color: var(--color-bg-action);
}

.primary:hover {
  background-color: var(--color-bg-action-hovered);
}

.primary:focus {
  outline: 0;
  border: 2px solid var(--border-btn-color);
}

.accent {
  background-color: var(--color-bg-control);
}

.accent:hover {
  cursor: pointer;
  background-color: var(--color-bg-hover);
}

.accent:focus {
  outline: 0;
  border: 2px solid var(--color-border-focused);
}

.outline {
  background-color: #ffffff;
  border: 2px solid var(--color-bg-base);
}

.disabled {
  background-color: var(--color-bg-disabled);
  color: var(--color-text-disabled);
}

.small {
  padding-left: 8px;
  padding-right: 8px;
  line-height: 28px;
  height: 28px;
}