.btn {
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  border: none;
  border-radius: 4px;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

/* .btn:hover {
  cursor: pointer;
  background-color: var(--color-bg-hover);
}

.btn:focus {
  outline: none;
  border: 2px solid var(--color-border-focused);
} */