.settings {
  flex: 1;
  display: flex;
}

.settings__wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 824px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.settings__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}

.settings__description {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--blue-grey-500);
}

.settings-form {
  min-width: 288px;
  width: 57%;
}

.settings-form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.settings-form--row {
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
}

.settings-form--narrow {
  width: 19%;
  justify-content: space-between;
  gap: 8px;
  margin-top: 24px;
}

.settings-form__label {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.settings-form__required {
  color: var(--color-red-500);
}

.settings-form__input {
  border: 2px solid var(--color-bg-heavy);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  margin-right: 8px;
}

.settings-form__input:focus,
.settings-form__input:active {
  outline: 0;
  border: 2px solid var(--color-border-focused);
}

.settings-form__caption {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

::placeholder { 
  color: var(--color-bg-heavy);
}

#syncTime {
  width: 52px;
  height: 36px;
}

.icon-label {
  margin-left: 6px;
}

.error {
  color: var(--color-red-500);
}

@media (max-width: 480px) {
  .settings__wrapper {
    flex-basis: 100%;
  }
  .settings-form {
    width: 100%;
  }
  .settings-form--narrow  {
    width: 100%;
    flex-direction: column;
  }
}

