.build-content {
  flex: 1;
}

.build-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 288px;
  max-width: 824px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.build-btn-group {
  width: 92px;
  padding-bottom: 20px;
}

@media (max-width: 480px) {
  .build-btn-group {
    width: 100%;
  }
}