@import url('https://yastatic.net/s3/frontend/yandex-font/v0.0.2/browser.css');

@font-face{
  font-family:'YS Text';
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff2) format('woff2'),
  url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff) format('woff')
}
  
@font-face { 
  font-family:'YS Text';
  font-weight:500;
  font-style:normal;
  font-stretch:normal;
  src:url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff2) format('woff2'),
  url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff) format('woff')
}

@font-face {
  font-family:'YS Text';
  font-weight:700;
  font-style:normal;
  font-stretch:normal;
  src:url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff2) format('woff2'),
  url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff) format('woff')
}

body {
  font-family: 'YS Text','Helvetica Neue', Arial, sans-serif;
  -webkit-font-feature-settings: 'liga', 'kern';
  -moz-font-feature-settings: 'liga', 'kern';
  font-feature-settings: 'liga', 'kern';
} 

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; 
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  min-width: 288px;
  max-width: 824px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

:root {
  --blue-grey-500: #7F8285;
  --blue-grey-50: #F0F2F3;
  --white-500: #ffffff;
  --red-600: #E00000;
  --color-bg-action: #FFCC00;
  --color-bg-action-hovered: #F2C200;
  --color-text: #000000;
  --color-bg-control: #E6E6E6;
  --color-bg-hover: #DBDBDB;
  --color-border-focused: #B3B3B3;
  --border-btn-color: #B38F00;
  --color-red-500: #FF3333;
  --color-bg-heavy: #D9D9D9;
  --color-bg-disabled: #F2F2F2;
  --color-text-disabled: #7F7F7F;
  --color-bg-base: rgba(0, 0, 0, 0.2);
  --color-text-second: #CCCCCC;

  --color-green: #00B341;
  --color-red: #FF3333;
  --color-orange: #FF9A00;
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .icon-label {
    display: none;
  }
}

@media (max-width: 320px) {
  .footer__menu {
    margin-bottom: 8px;
  }
}
